<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.onlineshopping">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OnlineShopping">
        <activity android:name=".Profile" />
        <activity
            android:name=".YourShopOrder.CustomerAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".YourShopOrder.Customer" />
        <activity
            android:name=".MyOrder.MyOrderShopAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".MyOrder.MyOrderShop" />
        <activity android:name=".Cart.MyCartShopAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".Cart.MyCartShop" />
        <activity android:name=".YourShopOrder.YourShopOrderAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".YourShopOrder.YourShopOrder" />
        <activity android:name=".MyOrder.MyOrdersAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".MyOrder.MyOrders" />
        <activity android:name=".Cart.MycartAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".ShopItem.ShopItemForUserAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".ShopItem.ShopItemForUser" />
        <activity android:name=".ShopItemType.ShopActivityAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".Cart.MyCart" />
        <activity android:name=".AddItemDetail" />
        <activity android:name=".YourShopItem.ShopItems" />
        <activity android:name=".ManageShop.ManageShopItemType"
            tools:ignore="Instantiatable" />
        <activity android:name=".AddItemType.AddItemTypeAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".AddItemType.AddItemType" />
        <activity android:name=".AddItemDetail$AddItem" />
        <activity android:name=".ShopInfo.ShopInfo" />
        <activity android:name=".YourShopItem.ManageShopAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".ManageShop.ManageShop" />
        <activity android:name=".ShopItemType.ShopActivity" />
        <activity android:name=".YourShop.YourShopsAdapter"
            tools:ignore="Instantiatable" />
        <activity
            android:name=".ShowShop.ShowShopsAdapter"
            tools:ignore="Instantiatable" />
        <activity android:name=".Login.LoginWithMobileNumberActivity" />
        <activity android:name=".Login.VerifyNumberActivity" />
        <activity android:name=".Login.RegisterAsShopkeeperActivity" />
        <activity android:name=".ShowShop.ShowShopsActivity" />
        <activity android:name=".YourShop.YourShopsActivity" />
        <activity android:name=".ShopInfo.AddShopActivity" />
        <activity android:name=".Login.RegisterActivity" />
        <activity android:name=".Login.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>